main {
  width: 100%;
  height: 100%;
  position: relative;
  .search-card-background {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    .error-handlar {
      font-size: 2rem;
      position: absolute;
      top: 7.5rem;
      left: 10rem;
      z-index: 1;
    }
    .queryKey {
      font-size: 2rem;
      margin-top: 8rem;
      margin-left: 10rem;
    }
    .movie-typography {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 3rem;
      .movieImg-typography {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0rem 1rem 1rem 0rem;
        .search-imgContainer {
          width: 150px;
          height: 220px;
          position: relative;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 150px;
            height: 220px;
            border-radius: 8px;
            transition: all 0.3s ease;
            cursor: pointer;
          }
          img:hover {
            transform: scale(1.2);
          }
          .favourite {
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0;
            right: 0;
            p {
              font-size: 1.4rem;
              color: white;
              margin: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:625px) {
  main {
    .search-card-background {
      .error-handlar {
        left: 0rem !important;
        top: 15rem;
        padding: 2rem;
      }
      .queryKey {
        margin-left: 0rem !important;
        margin-top: 15rem !important;
      }
    }
  }
}
